.mainWrapper {
	margin: 2em;
}

.ui-accordion-header {
	background: white;
	text-decoration: none;
}

.ui-accordion .ui-accordion-content {
	margin-bottom: 10px;
}

.ui-accordion .ui-accordion-header .ui-icon {
	left: auto;
	right: .5em;
}