.wrapper {
	margin: 2em;
}

.tabView {
	margin-top: 10px;	
}

.aboutUs {
	font-size: 20px;
	color: white;
}

.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	background: white;
	border-right: 1px solid #a8a8a8;
}

.ui-corner-all {
	border-radius: 0px;
}

.ui-state-default.ui-corner-left {
	background: white;
}

.ui-state-default.ui-corner-left.ui-state-hover {
	background: none;
}