#mainWrapper {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 100px;
	font-size:17px;
	
}

#leftPanel {
	padding: 10px 30px 0;
}

#rightPanel {
	border-left: 1px solid #fff;
	color: #000;
	font-weight: normal;
	padding:10px 0 0 30px;
	font-family: Tahoma sans-serif;
}

.ui-widget .submitContactButton {
	background: #fff;
	padding: 3px;
	margin-top:10px;
	border-radius:0;
	color:#666;
	font-size:14px;
	font-weight:normal;
	border:1px solid #fff;
}

.submitContactButton:hover {
	background: #ccc;
	text-decoration: none;
	
}

.infos {
	margin-left: 10px;
	font-size: 14px;
	color:#fff;
}

.infoTitle{
	font-size: 25px;
	color:#fff;
}

.ui-messages-error, .ui-message-error {
	display: inline;
}

.ui-widget .inputContact{
	width:100%;
	box-shadow: none;
	border: 1px solid #fff;
	border-radius:0;
	background: white;
	padding-left:15px;
	font-size:14px;
	color:#000;
	
}

.inputContact:focus{
	box-shadow:none;
}

#contactForm{
	color: #000;	
}

.formRow{
	margin-bottom: 20px;
}

.submitContactButton:hover {
	background:white;
}

.textInfo {
	color: #fff;
}

