.map{
	margin: 10px 10px 10px 10px;
}
.ui-layout-unit{
	margin: 10px 10px 10px 10px;
	
}

.top {
	background: none;
	border: none;
}

.tabMenu {
	background: none;
	border: none;
}

.top .ui-widget-content {
	background: none;
	padding: 0;
	overflow: hidden;
}

.navigationBtn {
	background: white;
}

.navigationBtn.ui-state-active {
	background:black;
}

.ui-tabmenu-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	background: none;
}

.west {
	height: 40em !important;
}

.east {
	height: 40em !important;
}

.center {
	height: 40em !important;
}

.ui-widget-header {
	background: #fff;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #000;
	font-size: 1em;
}

.ui-accordion-header.ui-helper-reset.ui-state-default {
	background: white;
	text-decoration: none;
	font-size: 13px;
	border: none;
	border-bottom: 1px solid #000;
}

.ui-accordion-header.ui-helper-reset.ui-state-active {
	border: none;
	border-bottom: 1px solid #000;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
	background: white;
}

.ui-accordion.ui-accordion-header.ui-icon {
	left: auto;
	right: .5em;
}

.column {
	margin-top: 20px;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all {
	background: #fff;
}

.ui-selectcheckboxmenu-label.ui-corner-all.ui-state-hover {
	background: #fff;
	border: none;
}

.dropdown {
	margin-left: 10px;
}

.ui-accordion-content.ui-helper-reset.ui-widget-content {
	border-bottom: 1px solid #000;
}