
@font-face {
    font-family: 'Libre Baskerville';
    src: url('librebaskerville-bold.ttf');
    src: url('librebaskerville-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}